.MainPage {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Grid {
  display: flex;
  grid-template-columns: auto auto auto;
}
  
.ScheduleStyle {
  border: 1px solid #000000cc;
  text-align: center;
  padding: 43px;
}

.LeftGrid {
  text-align: left;
  padding: 15px;
}
.Header {
  text-align: left;
  padding-left: 16px;
}